.case-study-thumbnail {
    background-color: var(--color-primary);
    position: relative;
    transition: all 0.4s;
    padding: 2rem 0;
    border-radius: 1rem;
    box-shadow: var(--global-box-shadow);
    &:hover {
        .expand-icon {
            opacity: 1;
            transition: all 0.4s;
        }
    }
    .expand-icon {
        color: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        opacity: 0;
        top: 1rem;
        right: 0.75rem;
        z-index: 1000;
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
        font-weight: 800;
        background-color: var(--color-primary);
        border-radius: 50%;
        padding-bottom: 0.2rem;
    }
    .thumbnail-container {
        z-index: 1000;
        background: none;
        cursor: url('../assets/icons/filled-circle.png'), auto;
        border: none;
        transition: all 0.4s;
        border-radius: 16px;
        padding: 0;
        filter: grayscale(0.6);
        video {
            width: 100%;
            height: auto;
            transition: all 0.4s;
        }

        &:hover {
            transition: all 0.4s;
            filter: grayscale(0);
            video {
                transition: all 0.4s;
            }    
        }
    }
    .title {
        color: var(--color-white);
        font-size: 1.3rem;
        text-align: center;
        margin-top: 1rem;
    }
    .close-button {
        font-size: 1.3rem;
        font-weight: 800;
        width: 2rem;
        height: 2rem;
        transition: all 0.2s;
        &:hover {
            background-color: var(--color-grey-lightest);
            transition: all 0.2s;
        }
    }

    dialog {
        animation: animateOut 0.5s ease-out normal;
        padding: 0;
        .close-button {
            position: absolute;
            right: 1rem;
            top: 1rem;
            align-self: flex-end;
            width: 2rem;
            height: 2rem;
            background: var(--color-white);
            border: solid 2px var(--color-black);
            border-radius: 16px;
        }
        p {
            margin: 0.5rem 0 2rem 0;
        }
        video {
            width: 100%;
            height: auto;
        }
        .copy-container {
            padding: 2rem;
            text-align: left;
            h2 {
                text-align: center;
            }
        }
    }

    dialog[open] {
        animation: animateIn 0.5s ease-out normal;
    }

    @include desktopUp {
        .button-group {
            gap: 2rem;
            a {
                width: 100%;
            }
        }
    }

    @include tabletDown {
        dialog {
            .copy-container {
                padding: 1.5rem;
                text-align: center;
                p {
                    font-size: 1rem;
                }
            }
        }
    }
    @keyframes animateIn {
        from {
            opacity: 0;
            filter: blur(8px);
            transform: translateY(-50%);
        }
        to {
            opacity: 1;
            filter: blur(0);
            transform: translateY(0%);
        }
    }
    @keyframes animateOut {
        from {
            opacity: 1;
            transform: translateY(0%);
        }
        to {
            opacity: 0;
            transform: translateY(50%);
        }
    }
}