 @import "./mixins.scss";
 @import "./components/case-study.scss";
 @import './buttons.scss';

:root {
	--color-black: #0f0f0f;
	--color-white: #f0f0f0;
	--color-primary: #531CB3;
	--color-primary-darker: #42188b;
	--color-grey-lightest: #d3d3d3;
	--color-surface_base: #F3F3F3;
	--global-box-shadow: 1px 1px 30px 1px #0000005e;

	// z-indexes
	--z-index-case-study-thumbnail: 10;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	background-color: var(--color-surface_base);
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	color: rgb(var(--black));
	cursor: url('../assets/icons/filled-circle.png'), auto;
}
main {
	@include globalPadding;
}
h1 {
	font-size: 5.6rem;
	line-height: 1.2;
}
h2 {
	font-size: 3.2rem;
	line-height: 1.2;
}
p {
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-black);
	margin: 0;
}

a {
	color: var(--color-primary);
}

dialog {
	max-width: 50vw;
	border-radius: 2rem;
	background-color: var(--color-white);
	overflow-x: hidden;
	scrollbar-width: thin;
	&::backdrop {
		background-color: rgba(0, 4, 23, 0.8);
	}
}

@include xlarge {
	dialog {
		max-width: 40vw;
	}
}

@include tabletDown {
	h1 {
		font-size: 3.2rem;
	}
	h2 {
		font-size: 1.7rem;
	}
}

@include mobileOnly {
	dialog {
		max-width: 100vw;
	}
}