---
import BaseHead from '../components/BaseHead.astro';
import CaseStudy from '../components/case-study-thumbnail/CaseStudy';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="hero">
				<div class="heading-container">
					<h1>Andrew's Design Hub</h1>
					<p>📍Based in New Orleans | Design & Code @ 
						<a href="https://www.ndgcommunications.com/" target="_blank">NDG Communications</a>
					</p>
				</div>
				<img src="../../src/assets/images/home-heading.jpg" alt="Andrew's Design Hub" />
			</section>
			<section class="bio-section">
				<div class="copy-container">
					<p class="heading">Designer / Developer / Design Systems Enthusiast</p>
					<p class="copy">Hi, I'm Andrew. I work with companies to bridge the gap between design and development, write CSS, and to build cool things in the browser.</p>
				</div>
			</section>
			<section>
				<h2>A Small Selection of my Work</h2>
				<div class="case-study-container">
					<CaseStudy 
					client:idle
					title="NOLA Transit UI Overhaul"
					thumbnailAssetSrc="src/assets/images/case-studies/nola-transit/nola-transit.webm"
					copy="The NOLA Transit app, a volunteer initiative by Code for America New Orleans, provides real-time tracking of buses and streetcars for New Orleanians. This essential feature, previously part of the official city-owned public transit app, was omitted in the launch of their redesigned app Le Pass, prompting community volunteers to create this open-source web app. My role involved refactoring the front-end and redesigning the UI to prioritize mobile users."
					ctaCopy="View Site"
					ctaUrl="https://nolatransit.fly.dev/"
					ctaCopyTwo='Read More'
					/>
				</div>
			</section>
		</main>
	</body>
</html>

<style>
	.hero {
		align-items: center;
		display: flex;
		gap: 4rem;
		margin: 4rem 0;
		& h1 {
			margin-bottom: 1.5rem;
		}
		& p {
			font-size: 1.7rem;
		}
		& img {
			max-width: 35%;
			height: auto;
			border-radius: 25px;
			opacity: 0.75;
			box-shadow: var(--global-box-shadow);
		}
	}
	section {
		margin: 16rem 0;
		& h2 {
			text-align: center;
		}
	}

	.bio-section {
		display: flex;
		place-content: center;
		padding: 2rem 0;
		border-top: solid 1px #var(--color-black);
		border-bottom: solid 1px #var(--color-black);
		& .copy-container {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			gap: 2rem;
			width: 60%;
		}
		& .heading {
			font-size: 1.7rem;
			width: 100%;
			height: fit-content;
		}
		& .copy {
			font-size: 1.3rem;
			opacity: 0.75;
			width: 100%;
			height: fit-content;
		}
	}
	.case-study-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin: 2rem 0;
	}

</style>
