---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="hero">
				<div class="heading-container">
					<h1>Andrew's Design Hub</h1>
					<p>📍Based in New Orleans | Design & Code @ 
						<a href="https://www.ndgcommunications.com/" target="_blank">NDG Communications</a>
					</p>
				</div>
				<img src="../../src/assets/images/home-heading.jpg" alt="Andrew's Design Hub" />
			</section>
			<section class="bio-section">
				<div class="copy-container">
					<p class="heading">Designer / Developer / Design Systems Enthusiast</p>
					<p class="copy">Hi, I'm Andrew. I work with companies to bridge the gap between design and development, write CSS, and to build cool things in the browser.</p>
				</div>
			</section>
			<section>
				<h2>A Small Selection of my Work</h2>
			</section>
		</main>
	</body>
</html>

<style>
	.hero {
		align-items: center;
		display: flex;
		gap: 4rem;
		margin: 4rem 0;
		& h1 {
			margin-bottom: 1.5rem;
		}
		& p {
			font-size: 1.7rem;
		}
		& img {
			max-width: 35%;
			height: auto;
			border-radius: 25px;
			opacity: 0.75;
			box-shadow: var(--global-box-shadow);
		}
	}
	section {
		margin: 16rem 0;
		& h2 {
			text-align: center;
		}
	}

	.bio-section {
		display: flex;
		place-content: center;
		& .copy-container {
			display: flex;
			justify-content: space-evenly;
			width: 60%;
		}
		& .heading {
			font-size: 1.7rem;
			width: 100%;
		}
		& .copy {
			font-size: 1.3rem;
		}
	}
</style>
