---
const navItems = [
    { name: 'andrewleach.design', href: '/', iconClass: 'lnr lnr-home' },
    { name: 'Projects', href: '#projects', iconClass: 'lnr lnr-layers' },
];
---

<nav>
    <ul>
        {navItems.map(item => (
            <li>
                <a class="btn-ghost" href={item.href}><span class={item.iconClass}></span>{item.name}</a>
            </li>
        ))}
    </ul>
</nav>

<style>
    nav {
        background-color: var(--color-surface_base-transparent);
        position: fixed;
        top: 0;
        padding: 1rem;
        z-index: var(--z-index-navigation);
        backdrop-filter: blur(8px);
        width: 100%;
        border-bottom: solid 1px var(--color-grey-lightest);
    }
    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }
    li {
        margin: 0;
    }
    a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        span {
            font-size: 20px;
        }
    }
</style>